<%- include('header') %>

<div class="container-fluid">
  <div class="row">
      <div class="col-xs-12"><h2>Deine Events</h2></div>
  </div>
  
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Ort</th>
      <th>Zeit</th>
      <th>Teilnahme ändern</th>
    </tr>
    <tr>
      <td>1</td>
      <td>HTML Placholder Event</td>
      <td>Interwebs</td>
      <td>01.01.1970</td>
      <td><button type="button" class="btn btn-danger">absagen</button></td>
    </tr>
  </table>

  <div class="row">
    <div class="col-xs-12"> <h3>Neues Event erstellen</h3></div>
    <div class="col-xs-12"> 
      <form action="/events/new">
        <input type="submit" class="btn btn-primary" value="Event erstellen"></input>
      </form>
    </div>
  </div>
</div>

<%- include('footer') %>