<%- include('header') %>

<div class="container-fluid">
  <div class="row">
      <div class="col-xs-12"><h2>Insert Event Title Here</h2></div>
  </div>
  
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Ort</th>
      <th>Zeit</th>
      <th>Teilnahme ändern</th>
    </tr>
    
      <tr>
        <td>ID</td>
        <td>Name</td>
        <!-- Implement those two later, when Event structure is unified -->
        <td>Interwebs</td>
        <td>01.01.1970</td>
        <td><button type="button" class="btn btn-danger">absagen</button></td>
      </tr>
    
  </table>
</div>

<%- include('footer') %>