<%- include('header') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12"><h1>Neues Event erstellen</h1></div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <form method="POST" action="/events/new">
        <div class="form-group">
          <label for="eventNameInput">Eventname</label>
          <input type="text" class="form-control" id="eventNameInput" name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="ortInput">Ort</label>
          <input type="text" class="form-control" id="ortInput" name="location" placeholder="Ort">
        </div>
        <div class="form-group">
          <label for="dateInput">Datum</label>
          <input type="date" class="form-control" id="dateInput" name="date" placeholder="DD/MM/YYYY">
        </div>
        <div class="form-group">
          <label for="timeInput">Zeit</label>
          <input type="time" class="form-control" id="timeInput" name="time" placeholder="DD/MM/YYYY">
        </div>
        <div class="form-group">
          <label for="groupIDInput">GroupID</label>
          <input type="number" class="form-control" id="groupIDInput" name="groupid" placeholder="id">
        </div>
				<div class="form-group">
					<select class="form-control" name=tGroup>
						<option value="100" select="selected">Placeholder Group 1</option>	
						<option value="200" select="">Placeholder Group 2</option>	
					</select>
				</div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include('footer') %>
