<%- include('header') %>
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h1>friendar</h1>
        <p>Events with your friends</p>
      </div>
    </div>
  </div>
<%- include('footer') %>