<%- include('header') %>

<div class="container-fluid">
  <div class="row">
      <div class="col-xs-12"><h2>Willkommen auf deiner User Seite</h2></div>
  </div>
</div>

</br>

<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">Dein Username</div>
      <div class="panel-body">
        <%= user.Name %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Deine UserID</div>
      <div class="panel-body">
        <%= user.id %>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>